@use './base/index' as *;

@include b(editor-button) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  flex: none;
  font-size: 20px;
  white-space: nowrap;
  border-radius: css-var(border-radius-small);
  border: css-var(border-width) css-var(border-style) transparent;
  cursor: pointer;

  &:hover {
    background-color: css-var(fill-color);
  }

  &:active {
    background-color: css-var(color-primary-light-9);
  }

  @include is(active) {
    background-color: css-var(color-primary-light-9);
  }

  &:focus-visible {
    outline: 2px solid css-var(color-primary-light-5);
    outline-offset: 1px;
  }

  @include is(disabled) {
    color: css-var(text-color-disabled);
    cursor: not-allowed;

    &:hover,
    &:active {
      background-color: transparent;
    }
  }

  @include e(group) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    gap: 2px;
  }

  @include e(group-list) {
    display: flex;
    flex-wrap: wrap;
    column-gap: css-var(size-lg);
    row-gap: css-var(size-xxs);
  }

  @include e(select) {
    width: 130px;
    justify-content: space-between;
    padding-inline: css-var(padding-xs);
    font-size: css-var(font-size-base);
    background-color: css-var(fill-color-light);
  }

  @include e(chevron) {
    width: 16px;
  }

  @include e(text) {
    @include truncate;
  }

  @include e(arrow) {
    flex: none;
  }

  @include e(split) {
    display: flex;
    border-radius: css-var(border-radius-small);
    border: css-var(border-width) css-var(border-style) transparent;

    @include is(active) {
      border-color: css-var(border-color-lighter);
    }

    &:hover {
      border-color: css-var(border-color-lighter);
    }

    @include b(editor-button) {
      border: none;
      border-radius: calc(css-var(border-radius-small) - 1px);

      &:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
